---
import { setWeek, nextMonday, format, addDays } from 'date-fns';
const { issue, isFull } = Astro.props;
import config from '../config.yaml';

const [ year, week ] = issue.week.split('-');
const current = false;

---


<div class=`mb-8 border border-white/20`>
    
    <div class=`sm:flex w-full p-4 sm:p-6 bg-white/10`>
        <div class="grid gap-2 sm:gap-6 sm:flex items-center">
            <h1 class="text-2xl"><a href=`/issue/${issue.week}`>Week {issue.week.split('-').reverse().join('/')}</a></h1>
            <div class=`text-xl ${current ? "text-white/50" : ""}`>{format(issue.period[0], "MMM d")} - {format(issue.period[1], "MMM d, yyyy")}</div>
            {!issue.published &&
                <div class="text-white">🚧 Future edition</div>
            }
        </div>
        <div class="grow"></div>
        <div class="mt-2 sm:mt-0 flex gap-4 items-center">
            {issue.published &&
                <a href={issue.published}>Paragraph</a>
            }
            <a href=`https://github.com/web3privacy/news/edit/main/data/${year}/week${week}.md`>{issue.published ? 'Source' : 'Edit'}</a>
        </div>
    </div>

    <div class="p-4 sm:p-6">
        <div class="news-content" set:html={issue.newsHtml}></div>
    </div>

    {!issue.published && isFull &&
        <div class="w-full bg-white/10">
            <div class="p-4">
                <div class="text-xl">Release helper</div>
                <table class="release-helper">
                    <tr>
                        <th>Title</th>
                        <td><textarea rows="1" cols="65">{config.name} - {issue.week.split('-').reverse().join('/')}</textarea></td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td><textarea rows="1" cols="65">{issue.week}</textarea></td>
                    </tr>
                    <tr>
                        <th>Post preview</th>
                        <td><textarea rows="3" cols="65">{config.template.preview.trim()} This edition covers period {format(issue.period[0], "MMM d")} - {format(issue.period[1], "MMM d, yyyy")}.</textarea></td>    
                    </tr>
                    <tr>
                        <th>Content (HTML)</th>
                        <td><textarea rows="5" cols="65">{issue.newsHtml}</textarea></td>
                    </tr>
                    <tr>
                        <th>Content (Markdown)</th>
                        <td><textarea rows="5" cols="65">{issue.newsMd}</textarea></td>
                    </tr>
                </table>
            </div>     
        </div>

    }
</div>